{% include base_path %}


<section class="page__share">
    <h4 class="page__share-title">Or embed a widget in your website</h4>
    <div class="code-block-holder">
<pre class="highlight">
<code><span class="cb-tag">&lt;<span class="cb-name">iframe</span> 
    <span class="cb-attr">src</span>=<span class="cb-string">"{{ base_path }}/widget/#appId={{page.appId}}&theme=auto&style=short"</span> <span class="cb-attr">name</span>=<span class="cb-string">"<span class="_ts">_ts</span>"</span>
    <span class="cb-attr">style</span>=<span class="cb-string">"min-width: 180px;border: 0;border-radius: 10px;max-width:280px;height: 130px;"</span> &gt;</span>
<span class="cb-tag">&lt;/<span class="cb-name">iframe</span>&gt;</span></code>
</pre>
<button class="copy_to_clipboard" onclick="copyToClipboard(this);"><i class="fas fa-copy"></i>&nbsp;copy</button>
</div>

    will show<br>

    <iframe src="/widget/#appId={{page.appId}}&theme=auto&style=short"
        style="min-width: 180px;border: 0;border-radius: 10px;max-width: 280px;height: 130px;box-shadow:0px 2px 4px var(--shadow-2);"></iframe>

    <br>and<br>
<div class="code-block-holder">
<pre class="highlight">
<code><span class="cb-tag">&lt;<span class="cb-name">iframe</span> 
    <span class="cb-attr">src</span>=<span class="cb-string">"{{ base_path }}/widget/#appId={{page.appId}}&theme=auto&style=long"</span> <span class="cb-attr">
    style</span>=<span class="cb-string">"max-width:100%;width:342px;border:0;border-radius:10px;min-height: 510px;"</span> &gt;</span>
<span class="cb-tag">&lt;/<span class="cb-name">iframe</span>&gt;</span></code>
</pre>
<button class="copy_to_clipboard" onclick="copyToClipboard(this);"><i class="fas fa-copy"></i>&nbsp;copy</button>
</div>
    will show<br>

    <iframe src="/widget/#appId={{page.appId}}&theme=auto&style=long"
        style="max-width:100%;width:342px;border:0;border-radius:10px;min-height: 510px;box-shadow:0px 2px 4px var(--shadow-2);"></iframe>
</section>


<script>

function copyToClipboard(t){

                var p = t.parentNode.querySelectorAll("code")[0];

                var a = document.createElement("input");
                a.setAttribute("style", "opacity:0;position:fixed;z-index:-99;pointer-events:none");
                document.body.append(a);

                a.value = p.innerText;

                a.focus();
                a.select();
                try {
                    document.execCommand("copy") &&
                    ((t.innerHTML = '<i class="fas fa-clipboard-check"></i>&nbsp;success'),
                    a.remove(),
                    setTimeout(function() {
                        t.innerHTML = '<i class="fas fa-copy"></i>&nbsp;copy';
                    }, 2e3));
                } catch (e) {console.error("Copy failed with error:",e)}
            }

</script>